<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Order Details</title>
</head>
<body>
<h1>Order Details</h1>
<table>
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Car Model</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}" />
        <td th:text="${order.customerName}" />
        <td th:text="${order.carModel}" />
        <td th:text="${order.startDate}" />
        <td th:text="${order.endDate}" />
        <td th:text="${order.totalPrice}" />
    </tr>
    </tbody>
</table>
</body>
</html>
